body{ 

	padding: 0;
	margin: 0;

	background-color: #333333;
	font-family:"Aileron";

}

header{

	z-index: 10;
}



header #div1 {

	color: white;
	font-family:Aileron;
	font-size: 30px;

	
	
}

hr{

	transform: rotate(90deg);
	



}

#div1 p:nth-child(2) {

	color:white;
	
	
	
}

header nav{

	float: right;
	
}
header nav li{

	display: inline-block;
	margin-right: 12px;
	
}
ul {
	list-style-type:none;
}


nav ul li img{

	border-radius: 30px;
	cursor: pointer;
}


/*gestion du body*/

#section {
	margin-top: 50px;
	z-index:5;
	
	
	
}



#section ul li {

	
	margin-left: 25px;
	
	margin-top: 20px;
	border-radius: 10px;
	background-color: white;

	box-shadow: 2px 2px 25px #1F1F1F;
	cursor: pointer;

}



section ul li div:nth-child(1){

	min-height: 160px;
	
	
	
}

section ul li div:nth-child(2) {
  
   min-height: 140px;
   background-color: white;
   overflow: hidden;
   


}



section ul li div:nth-child(2) p{
	
		
		font-family:Aileron;
		font-size: 20px;
		text-align: center;
		margin-top: 10px;
		
		margin-left: 10px;
		overflow: auto;
		word-wrap: break-word;

	}
section ul li div:nth-child(3){

	
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: #333333;
	
	  text-overflow: ellipsis;
	
 	word-wrap: break-word;
	}


	section ul li div:nth-child(3) p{
	
		color: #E3E3E3;
		font-family: serif;
		font-size: 20px;
		text-align: center;
		
		
	}

#option_ul{
	position: absolute;

	
	z-index: 20;
	

    background-color:  #FEFFF1;
	border:1px solid #C7C7C7;
	margin-left: -240px;
	margin-top: 0px;
	display: none;
	z-index: 10;
/*	display: none;*/
	

}

#option_ul li {


		background-color: #ffff;
		width: 110%;
		margin-left: -5px;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 5px;
		color: #7F7F7F;
		font-family: "Aileron";
		font-size: 20px;

}
#option_ul a{

	text-decoration: none;
}
#option_ul li:hover{

	background-color: #828282;
	cursor: pointer;

	color: #363636;
}


#fond{


}


.container .col-md-3{

	width: 340px;
}
/*La section d'ajout de cour*/

#form{
	position: absolute;
	
	 border:1px solid white;
	 
	 border-radius: 8px;
	 margin-top: -200px;
	
	 z-index: 10;
	background-color: white;
	 
}
#form .titleCour {

	
		text-align: center;
		font-family:Aileron;
		font-size: 25px;

}
 #form div{

 	
 	
 	margin-top: 40px;
 	font-family:Aileron;
 	color: #7F7F7F;
 }

#form div input[type=text],#form div input[type=file],textarea{
	 width: 70%;
    padding: 10px 27px;
    display:block;
    margin-top: 10px;
    margin-left: 45px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    

}



.submit{

	   width:50%;
	    background-color: #FF6347;
	    color: white;
	    padding: 15px 15px;
	    margin: 20px 0;
	    margin-left: 75px;
	    border: none;
	    border-radius: 4px;
	    cursor: pointer;
	    
	    border:1px solid #FF6347;
    
}

.submit:hover{

	background-color: transparent;
	color: #FF6347;
}

.error{

	
	text-align: center;
	color: red;
	display: none;

}
.errorPdf{

	
	text-align: center;
	color: red;
	display: none;

}






/*la section qui va charger la partie insertion des cour*/

#chargeInsertCour{

	

}



/*l'animation pour le new membre*/

#chargement{
   position: absolute;
	background-color:white;
	width: 100%;
	height: 100%;
	/*top: 120px;
	left: 355px;*/
	z-index: 55;
	color: #fff;
	/*display: none;*/

}

.chargement1{
	color:#49dc7a;

	position: absolute;
	left: 43%;
	
	bottom: 40%;
	font-family: verdana;
	font-size: 30;
	/*display: none;*/


}

.chargement2{
	color:#49dc7a;
	position: absolute;
	left: 40%;
	bottom: 35%;
	font-family: verdana;
	font-size: 30;
	display: none;

}	
.chargement3{
	color:#49dc7a;

	position: absolute;
	left: 40%;
	bottom: 35%;
	font-family: verdana;
	font-size: 30;
	display: none;

}	
.chargement4{
	color:#49dc7a;

	position: absolute;
	left: 40%;
	bottom: 35%;
	font-family: verdana;
	font-size: 30;
	display: none;

}	
.chargement5{
	color:#49dc7a;

	position: absolute;
	left: 40%;
	bottom: 35%;
	font-family: verdana;
	font-size: 30;
	display: none;

}		        



.chargement6{
	color:#49dc7a;

	position: absolute;
	left: 40%;
	bottom: 35%;
	font-family: verdana;
	font-size: 30;
	display: none;

}	

.content{

    line-height: 500px;
	background-color: rgba(236, 240, 241,0.3);
	text-align:center;
	z-index: 50;

}

.loader{

	display: inline-block;
}

.loader-basic{
    z-index: 30;
	height:170px;
	width: 170px;
	position: relative;
	border:5px solid white;
	border-radius: 100px;
	bottom: -50px;
}


.loader-basic:after{
	 z-index: 30;
	content: '';
	height:170px;
	width: 170px;
	position: absolute;

	left: -5px;
	top: -5px;
	border:5px solid transparent;
	border-top: 5px solid #49dc7a;
    
	border-radius: 85px;
	animation:2s basic linear infinite;
	

}

@keyframes basic{

	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}



